/* my color palette (light to dark)
#b6e2fa
#189de4
#52b7e9
#146ca4
#46648c
#242444
*/
.nanumsquare { 
    font-family: 'NanumSquare', 
    sans-serif !important; 
}

.my-navbar {
    background-color: #146ca4;
}

.my-navbar-brand {
    font-weight: bolder;
}

.col-logo {
    width: 80%;
    margin: auto;
    display: block;
}

.muted {
    color: #b6e2fa;
}

.post-title {
    border-bottom: 1px solid #46648c;
    font-weight: bolder;
}

footer {
    background: #b6e2fa;
}

.my-footer {
    text-align: center;
    color: #888888
}